[Unit]
Description=Eirka Index
Requires=nginx.service mysql.service
After=nginx.service mysql.service

[Service]
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full

User=www-data
RuntimeDirectory=eirka
Environment=GIN_MODE=release
ExecStart=/data/pram/bin/eirka-index
Restart=on-failure

[Install]
WantedBy=multi-user.target
