[Unit]
Description=Eirka Admin
Requires=nginx.service mysql.service redis.service
After=nginx.service mysql.service redis.service

[Service]
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full

User=www-data
RuntimeDirectory=eirka
Environment=GIN_MODE=release
ExecStart=/data/pram/bin/eirka-admin
Restart=on-failure

[Install]
WantedBy=multi-user.target
