[Unit]
Description=Eirka Index
Wants=nginx.service mysql.service
After=nginx.service mysql.service

[Service]
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
RestrictNamespaces=true

ConfigurationDirectory=pram::ro
RuntimeDirectory=eirka
ReadOnlyPaths=/data/prim/assets/includes/

PIDFile=/run/eirka/eirka-index.pid

User=www-data
Environment=GIN_MODE=release

ExecStart=/data/pram/bin/eirka-index
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
